<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.BookMapper">
 <select id="search" resultType="com.example.mybatis.Book">
  SELECT book_id, book_name, author, price
  FROM book
  <where>
   <if test='bookName != null and bookName != ""'>
    book_name LIKE #{bookName}|| '%'
   </if>
   </where>
 </select>
 <select id="selectAuthor" resultType="com.example.mybatis.Book">
  SELECT book_id, book_name, author, price
  FROM book
  <where>
   <if test="authorList != null and authorList.size() != 0">
    author IN
    <foreach item="item" index="index" collection="authorList"
             open="(" separator="," close=")">
     #{item}
    </foreach>
   </if>
  </where>
 </select>
 <select id="selectAll" resultType="com.example.mybatis.Book">
  SELECT * FROM book
 </select>
</mapper>
